body {
	color: #000;
	font-family: 'Barlow', sans-serif;
	background-image: url('https://images.pexels.com/photos/917494/pexels-photo-917494.jpeg');
	background-size: auto 150vh;
	background-repeat: no-repeat;
	height: 100vh;
}

.menu {
	background-color: #fff;
}

.menu li {
	list-style: none;
}

.menu ul {
	display: flex;
	justify-content: space-around;
}

a {
	color: #000;
	text-decoration: none;
}

a:hover {
	color: #FF6666;
	font-weight: bold;
}

.title,
.subtitle {
	text-align: center;
}
